<% provide(:title, @title) %>
<div class="row">
	<aside class="col-md-4">
		<section>
			<%= gravatar_for current_user %>
			<h1><%= current_user.name %></h1>
			<span><%= link_to "view my profile", current_user %></span>
		</section>
		<section>
			<%= render 'shared/recommendations' %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3><%= @title %></h3>
<ul>
	<% @user.bookmarks.each do |r| %>
	  <li><%= link_to r.name, r %></li>
	<% end %>
</ul>
	</div>
</div>		