<aside class="col-md-4">
	<div class="well">
		<p>
			<%= render 'shared/stats' %>
		</p>
		<p>
			<% if @user.twitter_handle.present? || @user.github.present? || @user.blog.present? %>	
				<strong>Find Me:</strong>
				<% if @user.twitter_handle.present? %>	 
					<%= link_to @user.twitter_handle do %>
						<i class="fa fa-twitter-square"></i>
					<% end %>	
				<% else %>
				<% end %>
				<span>&nbsp</span>
				<% if @user.github.present? %>
					<%= link_to @user.github do %>
						<i class="fa fa-github-square"></i>
					<% end %>
				<span>&nbsp</span>
				<% else %>
				<% end %>		
				<% if @user.blog.present? %>	
					<%= link_to @user.blog do %>
						<i class="fa fa-globe"></i>
					<% end %>
				<% else %>
				<% end %>
			<% else %>
			<% end %>			
		</p>
		<p>
			<% if @user.about_me.present? %>
				<strong>About Me:</strong> <%= @user.about_me %>
			<% else %>
			<% end %>
		</p>	
	</div>	
	<%= render 'follow_form' if signed_in? %>

		<% if @user.bookmarks.present? %>	
		<h3>Bookmarks</h3>
		<ul>
	<% @user.bookmarks.each do |r| %>
	  <li><%= link_to r.name, r %></li>
	<% end %>
</ul>
	<% else %>
	<% end %>
</aside>
