<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <% for kind in Kind.find(:all) %>
      <%= check_box_tag "resource[kind_ids][]", kind.id, @resource.kinds.include?(kind.id) %>
      <%= kind.name %>
    <% end %> 
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <% for level in Level.find(:all) %>
      <%= check_box_tag "resource[level_ids][]", level.id, @resource.levels.include?(level.id) %>
      <%= level.name %>
    <% end %> 
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <% for price in Price.find(:all) %>
      <%= check_box_tag "resource[price_ids][]", price.id, @resource.prices.include?(price.id) %>
      <%= price.name %>
    <% end %> 
  </div>
  <div class="field">
    <%= f.label :language %><br>    
    <% for language in Language.find(:all) %>
      <%= check_box_tag "resource[language_ids][]", language.id, @resource.languages.include?(language.id) %>
      <%= language.name %>
    <% end %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
