<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field"> 
    <%= f.label :kind %><br>
    <%= collection_check_boxes(:resource, :kind_ids, Kind.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= collection_check_boxes(:resource, :level_ids, Level.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= collection_check_boxes(:resource, :price_ids, Price.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :language %><br>    
    <%= collection_check_boxes(:resource, :language_ids, Language.all, :id, :name) %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
