<% provide(:title, 'Resources') %>

<h1>Resources</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-8"></th>
      <th class="col-md-1">Type</th>
      <th class="col-md-1">Level</th>
      <th class="col-md-1">Cost</th>
      <th class="col-md-1">Language/Framework</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td class="col-md-8"><h3><%= link_to resource.name, resource %></h3>
        <p><%= resource.description %>
        <%= link_to 'Edit', edit_resource_path(resource) %> | 
        <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <td class="col-md-1"><%= raw resource.kind_list.map{ |k| link_to k, kind_path(k) }.join(' ') %></td>
        <td class="col-md-1"><%= raw resource.level_list.map{ |l| link_to l, level_path(l) }.join(' ') %></td>
        <td class="col-md-1"><%= raw resource.price_list.map{ |p| link_to p, price_path(p) }.join(' ') %></td>
        <td class="col-md-1"><%= raw resource.language_list.map{ |l| link_to l, language_path(l) }.join(' ') %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'Add a new resource', new_resource_path %></button>
