<% provide(:title, 'Resources') %>

<h2>Resources</h2>


<table>
  <thead>
    <tr>
      <th class="col-md-8"></th>
      <th class="col-md-1">Type</th>
      <th class="col-md-1">Level</th>
      <th class="col-md-1">Cost</th>
      <th class="col-md-1">Language</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td class="col-md-8"><h3><%= link_to resource.name, resource %></h3>
        <p><%= resource.description %>
        <%= link_to 'Edit', edit_resource_path(resource) %> | 
        <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        <td class="col-md-1"><%= resource.kinds.map{|k| k.name}.join(', ') %></td>
        <td class="col-md-1"><%= resource.levels.map{|lv| lv.name}.join(', ') %></td>
        <td class="col-md-1"><%= resource.prices.map{|p| p.name}.join(', ') %></td>
        <td class="col-md-1"><%= resource.languages.map{|l| l.name}.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'Add a new resource', new_resource_path %></button>
