<% provide(:title, @resource.name) %>
  <h2><%= @resource.name %></h2>


  <div class="col-md-4">  
    <div class= "row">
          <div class="col-md-6">
      Liked by: <%= @resource.liked_by_count %>
    </div>
    <div class="col-md-6">
      Disliked by: <%= @resource.disliked_by_count %>
    </div>
      </div>
    <%= render 'likes_button' if signed_in? %>
<div class="well">
<p>
  <strong>Url:</strong>
  <%= link_to @resource.url, @resource.url %>
</p>

<p>
  <strong>Language/Framework:</strong>
    <ul>
    <% @resource.language_list.each do |l| %>
      <li><%= link_to l, kind_path(l) %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Kind:</strong>
  <ul>
    <% @resource.kind_list.each do |k| %>
      <li><%= link_to k, kind_path(k) %></li>
    <% end %>
  </ul>
  </p>

<p>
  <strong>Level:</strong>
    <ul>
    <% @resource.level_list.each do |l| %>
      <li><%= link_to l, kind_path(l) %></li>
    <% end %>
  </ul>
  </p>

<p>
  <strong>Price:</strong>
    <ul>
    <% @resource.price_list.each do |p| %>
      <li><%= link_to p, kind_path(p) %></li>
    <% end %>
  </ul>
  </p>
</div>

<%= link_to 'Edit', edit_resource_path(@resource), class: "btn btn-default" %> 
<%= link_to 'Back', resources_path, class: "btn btn-default" %>
</div>

<div class="col-md-8">
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>
</div>
