<% provide(:title, @resource.name) %>

<p id="notice"><%= notice %></p>

  <h2><%= @resource.name %></h2>

<div class="row">
  <div class="col-md-4">
<div class="well">
<p>
  <strong>Url:</strong>
  <%= link_to @resource.url, @resource.url %>
</p>

<p>
  <strong>Language(s):</strong>
    <% @resource.languages.each do |l| %>
      <%= link_to l.name, l %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Kind:</strong>
    <% @resource.kinds.each do |k| %>
      <%= link_to k.name, k %>
    <% end %></p>

<p>
  <strong>Level:</strong>
    <% @resource.levels.each do |lv| %>
      <%= link_to lv.name, lv %>
    <% end %></p>

<p>
  <strong>Price:</strong>
    <% @resource.prices.each do |p| %>
      <%= link_to p.name, p %>
    <% end %></p>
</div>
</div>

<div class="col-md-8">
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>
</div>
</div>

<%= button_to "like", likes_path(user: @likes) do %>
Like <strong><%= @resource.name %></strong>
<% end %>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
